html, body {
    overflow: hidden;
    font-family: Helvetica, Arial, Verdana;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

#content {
    position: relative;
    margin: 20px auto;
    width: 80%;
    min-width: 300px;
}

#list .id, #header .id, #list .age, #header .age, #list .delete, #header .delete {
    text-align: center;
}

.id {
    width: 9%;
    display: inline-block;
}

.name {
    width: 39%;
    display: inline-block;
}

.age {
    width: 9%;
    display: inline-block;
}

.city_id {
    width: 19%;
    display: inline-block;
}

.delete {
    width: 19%;
    display: inline-block;
}

#create_user, #no_users {
    text-align: center;
    width: 100%;
}

#new_user .row {
    color: red;
    text-align: center;
}

#list .name:hover, #list .age:hover, #list .city_id:hover {
    background-color:beige;
}